<style type="text/css">
<!--
 .tab { margin-left: 110px; }
-->
</style>

<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    
    <div class="social-links">
     <p class="tab"> Contact: <br>
          {% if site.author.email -%}
            <a class="u-email" href="mailto:{{ site.author.email }}">{{ site.author.email }}</a>
          {%- endif %}
          </p>
      {%- include social.html -%}
    </div>
    

  </div>

</footer>
